.contact-sec {
	padding: 100px 0px;
}
.contact-form-wrapper input {
	background-color: #f3f3f3;
	border-width: 0px 0px 0px 0px;
	padding: 0.75em;
	border-radius: 2px;
}

.contact-form-wrapper label {
	font-size: 14px;
	font-weight: 300;
	line-height: 25px;
}

.contact-form-wrapper textarea {
	background-color: #f3f3f3;
	border-width: 0px 0px 0px 0px;
	padding: 0.75em;
	border-radius: 2px;
}

.contact-form-wrapper select {
	background-color: #f3f3f3;
	border-width: 0px 0px 0px 0px;
	padding: 0.75em;
	border-radius: 2px;
}
.mapouter {
	position: relative;
	text-align: right;
	width: 600px;
	height: 400px;
}
.gmap_canvas {
	overflow: hidden;
	background: none !important;
	width: 600px;
	height: 400px;
}
.gmap_iframe {
	width: 600px !important;
	height: 400px !important;
}
.contact-form-wrapper button.btn {
	background-image: linear-gradient(
		to left bottom,
		#4d8e35,
		#579e3b,
		#60ae42,
		#6bbe48,
		#75cf4f
	) !important;
	transition: all 0.3s ease;
	border-radius: 30px;
	font-weight: 500;
	padding: 10px 20px;
}
